<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>New Message Form</title>
  <link rel="stylesheet" href="/stylesheets/form.css" />
</head>
<body>

  <main class="main">
    <h1>New Message Form</h1>
  
    <form class="message-form">
      <div>
        <label for="user">User: </label>
        <input type="text" id="user" name="user" placeholder="Enter your username" required/>
      </div>
  
      <div>
        <label>Message: </label>
        <textarea id="message" name="message" placeholder="Enter your message" rows="10" cols="65"></textarea>
      </div>
  
      <button type="submit">Submit</button>
    </form>
  </main>
</body>
</html>