<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <!-- <% messages.forEach(message => { %>
      <p> <%= message.text %> </p>
    <% }); %> -->
    <main class="main">
      <h1>Public Message Board</h1>
      
      <div class="message-board">
        <div class="message-block">
          <p class="username">Khang</p>
          <p class="message">I'll beat you up.</p>
          <p class="date-posted">Tue, Dec 5th, 2023 - 08:45am</p>
        </div>
      </div>
    </main>
  </body>
</html>
