* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  margin-top: 16px;
}

.message-form {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 60vw;
  min-height: 80vh;
  background-color: #00B7FF;
  border: 3px solid black;
  box-shadow: 3px 3px 1px 1px gray;
  padding: 16px;
}

.message-form > div:nth-child(2) {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.message-form input, .message-form textarea {
  padding: 4px;
}

button {
  width: 100px;
  padding: 8px;
}