* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  margin-top: 16px;
}

.message-board {
  width: 60vw;
  min-height: 80vh;
  background-color: #00B7FF;
}